@using Dominio.Entidades
@* @model Oferta *@
<h1>Realice su oferta</h1>


<form action="/Oferta/puja?NombrePublicacion=@ViewBag.NombrePublicacion.Nombre" method="post">
    <h1>Realizar una Oferta</h1>
    <h2>Nombre de la Oferta:@ViewBag.NombrePublicacion.Nombre </h2>
    <p>Oferta maxima:@ViewBag.NombrePublicacion.PrecioPublicacion() </p>
    <h3>Tu saldo actual es: $ @ViewBag.saldoActual</h3>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label">Monto</label>
@*         <input required type="number" value=@Model.Monto name="saldo" class="form-control" /> *@
    </div>
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Ofertar</button>

    <div>
        <p style="color: forestgreen;">@ViewBag.MensajeValido</p>
        <p style="color: red;">@ViewBag.MensajeInvalido</p>
    </div>
</form>
