@using Dominio.Entidades;

<form action="/Cliente/cargarsaldo" method="post">
    <h1>Cargar saldo</h1>
    <h3>Tu saldo actual es: $ @ViewBag.saldoActual</h3>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label">Monto</label>
        <input required type="number" name="saldo" class="form-control" />
    </div>
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Recargar</button>

    <div>
        <p style="color: forestgreen;">@ViewBag.NuevoSaldo</p>
        <p style="color: red;">@ViewBag.saldoInvalido</p>
    </div>
</form>
