@using Dominio.Entidades;

<h1>Cargar saldo</h1>

<form action="/" method="post">
<label for="saldo">Ingrese el Monto a cargar</label>
<input type="text" name="saldo"/>
<input type="submit" name="confirmarSaldo" value="Confirmar" />
</form>