

<div class="col-auto p-5 text-center">
<h1>Bienvenido al Obligatorio de Programacion 2</h1>
<form method="post" class="pt-5">
		<input type="text" name="user" placeholder="Ingrese su usuario" /><br /><br />
		<input type="password" name="password" placeholder="Ingrese su contraseña" /><br />	<br />
	<a href="/Publicacion/index" class="btn btn-primary">Confirmar</a>
	<p class="pt-5">No estas registrado?</p>
	<button type="submit">Registrarse</button><br />
</form>
</div>
