@using Dominio.Entidades

<form action="/Login/Ingresar" method="post">
    <h2>Ingresar al sistema</h2>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label">Email</label>
        <input required type="email" name="email" class="form-control" />
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label">Contraseña</label>
        <input required type="text" name="password" class="form-control" />
    </div>

    <p style="color:red;">@ViewBag.Mensaje</p>

    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Ingresar</button>
</form>
