@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hola soy un Usuario generico</h1>
<p>Para obtener mas informacion debes ingresar a la web</p>
