@using Dominio.Entidades



@if (ViewBag.Admin){
<h1>Lista de Administradores</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (Administrador item in ViewBag.Administradores)
            {
            <tr>
                <th scope="row">@item.Nombre</th>
                <td>@item.Apellido</td>
                <td>@item.Email</td>

            </tr>
            }
    </tbody>
</table>
}
